.add-book-form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #11bbb3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    align-items: center;
  }
  
  .add-book-form-container h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  form div {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="url"],
  textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    border-color: #4CAF50; /* Green border on focus */
  }
  
  textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  button {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    background-color: #398439;
  }
  